extends layout

block content
    h1 #{title}
    form(method='POST', action='/heroes/add')
        #form-group
            label Hero:
            input.form-control(name='hero', type='text')
        #form-group
            label Name:
            input.form-control(name='name', type='text')
        #form-group
            label Description:
            textarea.form-control(name='body', rows='5')
        #form-group
            label Category:
            input.form-control(name='cat', type='text')
        #form-group
            label Picture:
            input.form-control(name='pic', type='text')
        button.btn.btn-primary(type='submit') Add Hero
